.color-square {
    display: inline-block;
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
    margin: 0.5rem;
}

.container {
    display: flex;
    justify-content: center;
}

#puzzle4-clue2 {
    display: none;
}

@media only screen and (max-width: 600px) {
    #puzzle4-clue1 {display: none;}
    #puzzle4-clue2 {display: block;}
  }

